*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

nav{
    position: relative;
}
.cargo-content{
    margin-left: 50px;
}

.cargo-paragraph{
    margin-top: 40px;
    width: 70%;
}

.book-cargo{
    margin-left: 50px;
}

.cargo-images{
    margin-top: 50px;
    display: flex;
    margin-bottom: 30px;
    gap: 30px;
    flex-wrap: wrap;
}

.c-image1{
    width: 300px;
    height: 150px;
    background-repeat: no-repeat;
    background: url(../images/home-cargo-s.jpg);
    background-position: center;
    background-size: cover;
}

.c-image2{
    width: 300px;
    height: 150px;
    background-repeat: no-repeat;
    background: url(../images/c-image2.jpg);
    background-position: top;
    background-size: cover;
}

.c-image3{
    width: 300px;
    height: 150px;
    background-repeat: no-repeat;
    background: url(../images/c-image3.jpg);
    background-position: top;
    background-size: cover;
}

.c-image4{
    margin-right: 30px;
    width: 300px;
    height: 150px;
    background-repeat: no-repeat;
    background: url(../images/c-image4.jpg);
    background-position: top;
    background-size: cover;
}

section a{
    background-color: #8d6914;
    padding: 9px;
    color: white;
    text-decoration: none;
}

@media (max-width: 1015px) {
    .cargo-content{
        display: flex;
        margin-left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cargo-images{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cargo-image{
        border-radius: 5px;
    }
    .cargo-paragraph{
        width: 100%;
        text-align: justify;
        padding: 0px 20px 0px 20px;
    }
    .book-cargo{
        margin-left: 0px;
    }
}


