*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}
nav{
    position: relative;
}


.jets-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.jet-box{
    width: 30%;
    height: fit-content;
    background-color: black;
    color: white;
    padding-bottom: 20px;
}
.jet-content{
    padding: 6px;
}

.jet-name{
    margin-top: 5px;
    font-weight: bold;
}

.jet-photo{
    height: 200px;
    background-color: #8d6914;
}
.jet-box .bombardier{
    background: url(../images/bombardier-sale.jpg);
    background-position: top;
    background-size: cover;
}
.jet-box .jet-specs{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
}
.jet-box .jet-spec{
    margin-right: 20px;
}
.jet-box .speed{
    margin-top: 4px;
    display: flex;
    align-items: center;
}
.jet-box .speed i{
    margin-right: 3px;
}
.jet-description{
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 9px;
}
.jet-box .c172{
    background: url(../images/cessna-sale.jpg);
    background-position: center;
    background-size: cover;   
}
.jet-box .pc12{
    background: url(../images/home-pc12-salee.jpg);
    background-position: center;
    background-size: cover; 
}
.jet-box a{
    background-color: #8d6914;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 3px;
    text-transform: lowercase;
}
