html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

nav{
    position: absolute;
    top: 20px;
    z-index: 100;
    display: flex;
    align-items: center;
    color: #8d6914;
    font-weight: 600;
    width: 100%;
}

nav  img{
   margin-right: 20px;
   width: 250px;
   margin-left: 10px;
}

nav ul{
    display: flex;
}
nav ul a{
    color: #8d6914;
    margin-left: 50px;
    text-decoration: none;
    width: fit-content;
}

nav li{
    list-style: none;
    width: fit-content;
}

.menu-bar{
    background-color: white;
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 200;
    right: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.menu-bar .menu-line{
    height: 2px;
    width: 70%;
    background-color: #8d6914;
    margin: 2px;
    z-index: 100;
    border-radius: 10px;
}

/*side menu start*/
.side-menu{
    border-right: none;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    position: absolute;
    z-index: 200;
    right: -400px;
    top: 12vh;
    background-color: white;
    color: #8d6914;
    border: 1px solid #8d6914;
    border-right: none;
}
.side-menu ul a{
    color: #8d6914;
    text-decoration: none;
    list-style: none;
}
.side-menu ul{
    display: flex;
    flex-direction: column;
    gap: 50px;
}



/*side menu end*/



/*additional*/
.page-title{
    margin-top: 30px;
    margin-left: 50px;
    font-size: 40px;
    color: #8d6914;
}

/*responsiveness*/
@media (max-width: 1215px) {
    nav ul li{
        display: none;
    }
}
@media (max-width: 700px) {
    .page-title{
        font-size: 25px;
        margin-left: 0;
        justify-content: center;
        display: flex;
        margin-top: 60px;
    }
}

@media (max-width: 500px) {
    nav img{
        width: 100px;
    }
    .side-menu{
        width: 320px;
    }
    
}